<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'basic_app:list' %}">Schools</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"></a>
  </li>
  {% comment %} <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> {% endcomment %}
</ul>

<div class="container my-5">
{% block body_block %}



{% endblock body_block %}
</div>
    
</body>
</html>