<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


    <nav class="navbar navbar-static-top navbar-default">

        <ul class="nav navbar-nav">
        
            <li><a class = "navbar-brand" href="{% url 'basic_app:list' %}">School</a></li>
            <li><a class = "navbar-brand" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a class = "navbar-brand" href=""></a></li>

        </ul>

    </nav>

<div class="container my-5">
{% block body_block %}



{% endblock body_block %}
</div>
    
</body>
</html>